# gitignore of the Epitech project
# Ignore the marketplace content as the player has to add them to the project beforehand
# Asset Pack https://www.unrealengine.com/marketplace/en-US/product/material-function-collection
Content/MaterialFunctionCollection/
Content/MaterialFunctionCollection.zip
# instances of materials in :
# Content/
#   Vaporwave Assets/
#       Vaporcube->edges (M_Emissive)
#       Groovebox->edges (M_Emissive)
#       Materials/
#           M_Fresnel_Vaporcube
#           M_GrooveBox_Pulse
#           M_MFC_Scanline
#######
# reference in :
# Content/
#   Vaporwave Assets/
#       Vaporcube->edges (M_Emissive)
#       Groovebox->edges (M_Emissive)


# Asset Pack https://www.unrealengine.com/marketplace/en-US/product/a36bac8b05004e999dd4b1d332501f49
Content/FXVarietyPack/
# instances of particles in :
# Content/
#   Vaporwave Assets/
#       Particles/
#           P_my_ky_hit1 (FXVarietyPack/Particles/P_ky_hit1)

Content/SCK_Casual01
SCK_Casual01.png
###### BE ADVISED ! THIS IS NOT THE VANILLA PACKAGE AS I HAD TO CUSTOMIZE MATERIALS TO INTEGRATE THE CHARACTER_APPEARANCE_DISSOLVE ASSETS AND MATERIAL FUNCTIONS INTO OUR PLAYER'S MATERIALS
Content/CUSTOM_MATERIALS_SCK_Casual01.zip

Content/Character_Appearance_Dissolve
Content/Character_Appearance_Dissolve.zip
# used in the BP_ThirdPersonCharacter Material to dissolve/appear

Content/Fonts/neon_rave.zip

#/Build
Saved/
DerivedDataCache/
Intermediate/
Intermediate\
Binaries/
Saved/Autosaves
Saved/Logs
Saved/Logs/GrooveEscape.log
# Content/__ExternalActors__ # useful for multiple devs to create a map + if you use world partition which is our case
*.bin

################################################################
######## GENERIC GITIGNORE GIVEN BY THEO #######################
################################################################

# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*
